.one-roll-engine-dice-roll .ore-flavor-text {
    color: #444;
    font-size: 120%;
}

.one-roll-engine-dice-roll .ore-sets {
    display: contents;
}

.one-roll-engine-dice-roll .ore-set-roll {
    display: inline-grid;
}

.one-roll-engine-dice-roll .ore-loose-dice {
    display: inline-flex;
    vertical-align: super;
}

.one-roll-engine-dice-roll .ore-single-roll {
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    margin: 0;
}

.one-roll-engine-dice-roll .ore-single-roll.in-set {
    height: 40px;
    width: 40px;
}

.one-roll-engine-dice-roll .ore-single-roll.loose {
    flex: 0 0 30px;
    width: 30px;
    height: 30px;
}

.ore-wiggle-apply {
    border: 1px solid darkred;
    padding: 3px
}

.ore-wiggle-apply:hover {
    text-shadow: 2px 2px 5px darkred;
}

