<div class="one-roll-engine-dice-roll">
    {{#if flavorText}}
    <div class="ore-flavor-text">{{{flavorText}}}</div>
    {{/if}}
    <div class="ore-sets">
        {{#each sets}}
        <div class="ore-set-roll" data-width="{{width}}" data-height="{{height}}">
            {{#each rollsInSet}}
            <div class="ore-single-roll in-set" data-value="{{this}}"
                 style="background-image: url('modules/one-roll-engine/images/dice/d10_{{this}}.png')">
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
    <div class="ore-loose-dice">
        {{#each looseDice}}
        <div class="ore-single-roll loose" data-value="{{this}}"
             style="background-image: url('modules/one-roll-engine/images/dice/d10_loose_{{this}}.png')">
        </div>
        {{/each}}
    </div>
</div>