<div class="one-roll-engine-dice-roll">
    {{#if flavorPreText}}
    <div class="ore-flavor-text">{{flavorPreText}}</div>
    <hr>
    {{/if}}
    {{#if wiggleDie}}
    <div class ="ore-wiggle-die">
        Wiggle Dice: <span data-id="wiggleDieCurrent">{{wiggleDie}}</span>/<b>{{wiggleDie}}</b> - 
        <select name="wiggleDie" title = "Choose a value">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select> - 
        <span class="ore-wiggle-apply">Apply</span>
        <br><br>
    </div>
    {{/if}}
    <div class="ore-sets">
        {{#each sets}}
        <div class="ore-set-roll" data-width="{{width}}" data-height="{{height}}">
            {{#each rollsInSet}}
            <div class="ore-single-roll in-set" data-value="{{this}}"
                 style="background-image: url('modules/one-roll-engine/images/dice/d10_{{this}}.png')">
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
    <div class="ore-loose-dice">
        {{#each looseDice}}
        <div class="ore-single-roll loose" data-value="{{this}}"
             style="background-image: url('modules/one-roll-engine/images/dice/d10_loose_{{this}}.png')">
        </div>
        {{/each}}
    </div>
    <hr>
    {{#if flavorPostText}}
    <div class="ore-flavor-text">{{flavorPostText}}</div>
    {{/if}}
</div>